<h1>Neuer Eintrag</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input
    type="hidden"
    name="id"
    #id="ngModel"
    [(ngModel)]="itemService.formData.id"
  />
  <div class="form-group">
    <input
      name="name"
      #name="ngModel"
      [(ngModel)]="itemService.formData.name"
      class="form-control"
      placeholder="Name"
      required
    />
  </div>
  <div class="form-group">
    <input
      name="color"
      #color="ngModel"
      [(ngModel)]="itemService.formData.color"
      class="form-control"
      placeholder="Farbe"
    />
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>
