<mat-card>
  <mat-card-header>
    <mat-card-title>Storage</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    <input type="button" value="Download" (click)="download()" />
    <div *ngIf="downloadURL | async; let url">
      <p>Download-Link: <a [href]="url">{{url}}</a></p>
    </div>
  </mat-card-content>
</mat-card>
