<mat-card>
  <mat-card-header>
    <mat-card-title>Registrieren</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="E-Mail" #userEmail required />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="Passwort"
                #userPwd
                type="password"
                required
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>

    <!-- Continue with Google -->
    <button
      type="button"
      class="btn googleBtn"
      (click)="authService.GoogleAuth()"
    >
      <i class="fab fa-google-plus-g"></i>
      Weiter mit Google
    </button>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      (click)="authService.SignUp(userEmail.value, userPwd.value)"
      color="primary"
    >
      Registrieren
    </button>
    <br />
    <br />
    <span routerLink="/sign-in">Zurück zum Login </span>
  </mat-card-actions>
</mat-card>
