<mat-card>
  <mat-card-header>
    <mat-card-title>Firestore</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-item></app-item>
    <br>
    <app-item-list></app-item-list>
  </mat-card-content>
</mat-card>
