<mat-card>
  <mat-card-header>
    <mat-card-title>Passwort vergessen?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="E-Mail "
          #passwordResetEmail
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      type="submit"
      (click)="authService.ForgotPassword(passwordResetEmail.value)"
      color="primary"
    >
      Passwort zurücksetzen
    </button>
    <br /><br />
    <span routerLink="/sign-in">Zurück zum Login</span>
  </mat-card-actions>
</mat-card>
