<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="E-Mail"
                #userName
                name="username"
                required
              />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="Passwort"
                #userPassword
                type="password"
                name="password"
                required
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>

    <button
      type="button"
      class="btn googleBtn"
      (click)="authService.GoogleAuth()"
    >
      <i class="fab fa-google-plus-g"></i>
      Weiter mit Google
    </button>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      (click)="authService.SignIn(userName.value, userPassword.value)"
      color="primary"
    >
      Login
    </button>
    <br />
    <br />
    <span routerLink="/forgot-password">Passwort vergessen?</span>
    <p><span routerLink="/sign-up">Noch keinen Account?</span></p>
  </mat-card-actions>
</mat-card>
