mat-card {
    max-width: 300px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }