<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Farbe</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td (click)="onEdit(item)">{{item.id}}</td>
      <td (click)="onEdit(item)">{{item.name}}</td>
      <td (click)="onEdit(item)">{{item.color}}</td>
      <td>
        <button mat-button color="warn" (click)="onDelete(item.id)">
          Löschen
        </button>
      </td>
    </tr>
  </tbody>
</table>
