<!-- Userdata -->
<mat-card *ngIf="authService.userData as user">
  <mat-card-header>
    <mat-card-title>Authentication</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1>
      Hallo:
      <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong>
    </h1>
    <p>User ID: <strong>{{user.uid}}</strong></p>
    <p>Email: <strong>{{user.email}}</strong></p>
    <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
  </mat-card-content>
</mat-card>

<!-- Database -->
<app-database></app-database>

<!-- Storage -->
<app-storage></app-storage>

<!-- Logout -->
<button mat-button color="warn" (click)="authService.SignOut()">
  Log out
</button>
